<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/icon/next.svg" type="image/png">
    <link rel="stylesheet" href="/static/css/pharm.css">
    <link rel="stylesheet" href="/static/css/portfolio.css">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Prompt:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>{% block title %} PharmAdvice — главная страница {% endblock %}</title>
    {% endblock %}
  </head>
  <body>

    {% block header %}
    
    <div class="navbar">
      <div class="border">
          <p class="pharmacy">Для фармацевтов</p>
            <select name="currency" class="gps">
              <option value="Республика Крым">Республика Крым</option>
              <option value="Москва и область">Москва и область</option>
              <option value="Краснодар">Краснодар</option>
            </select>
      </div>

      <div class="down">
        <div class="width_con">
          <div class="items">
            <a href="/">
              <img alt="Logo" class="hidden md:block cursor-pointer mr-[422px]" height="100" width="240" src="/static/public/LOGO.png">
            </a>
            
            {% if session.logged_in %}
            <div class="menu_center">
              <a class="text_1">Мои рецепты</a>
              <img alt="Palka" class="beetwen" height="15" width="1" src="/static/public/palka.svg">
              <a class="text_1" href="/pharmacist">Фармацевты</a>
              <img
                  alt="Palka"
                  class="beetwen"
                  height="15"
                  width="1"
                  src="/static/public/palka.svg">
                  <a href="/profile">
                    <p class="text_1">Профиль</p>
                  </a>
                  
            </div>
            
            <a href="/logout" class="Notification">
              <img alt="Notification" class="Notification" height="30" width="30" src="/static/public/logincurve.svg">
            </a>
            
            
            {% endif %}
            <div class="block_User">
                <div class="image">
                  {% if not session.logged_in %}
                  <a href="/login">
                    <img alt="User" class="User" height="30" width="30" src="/static/public/usersquare.svg">
                  </a>
                  {% else %}
                  <a href="{{ url_for('logout') }}">
                    <img alt="User" class="User" height="30" width="30" src="/static/public/placeholder.jpg">
                  </a>
                  {% endif %}
                  
                </div>
            </div>
            
                      
          </div>
        </div>
        
      </div>
    </div>
    
    {% endblock %}
    
    {% block body %}{% endblock %}

    {% block footer %}
    <footer>
      <div class="footer">
        <div class="foot_bor">
            <img
                alt='logo'
                class='logo' 
                height='38'
                width='240'
                src='/static/public/LOGO.png'>
        </div>

        <div class="foot_down">
            <span class="decs">О НАС</span>
            <span class="decs">МОИ РЕЦЕПТЫ</span>
            <span class="decs">КОНТАКТЫ</span>
            <span class="decs">FAQ</span>
        </div>

        <div class="podval">
            <p class="mb-[11px]">ГБОУВО РК КИПУ имени Февзи Якубова</p>

            <p class="mb-[28px]">ИНИЦИАТИВНАЯ РАЗРАБОТКА В РАМКАХ ИНТЕНСИВА «ОТ ИДЕИ К ПРОТОТИПУ - ВЕСНА 2023»</p>
        </div>

      </div>
    </footer>
    {% endblock %}

      
    </body>
  </html>
